# Drizzle
DATABASE_URL=postgresql://db_user:long_db_password@localhost:5432/app_db

# Used as base URL
ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Social OAuth Providers
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Public Variables (safe to see in client code)
PUBLIC_APP_NAME=AppNameHere
PUBLIC_APP_URL=http://localhost:8501